{% extends 'layout.html' %}

{% block title %}Customer Churn Prediction{% endblock %}

{% block content %}
<form method="post" action="./process_form">
  <div class="columns">
    <div class="column is-half is-offset-one-quarter">
      <div class="notification">
        Welcome to our customer churn prediction tool!
        Enter your information below, and using machine learning,
        we will predict the cusomter's probability to churn.
      </div><div class="columns is-mobile">
        <div class="column">
          <div class="field">
            <label class="label">Contract Month to Month</label>
            <div class="control">
              <input class="input" name="contract-month-month" type="number" min="50" max="252" step="0.01" value="{{ form_values['contract-month-month'] }}" required>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="field">
            <label class="label">Tenure</label>
            <div class="control">
              <input class="input" name="tenure" type="number" min="0" step="0.0001" value="{{ form_values['tenure'] }}" required>
            </div>
          </div>
        </div>
      </div>

      <div class="columns is-mobile">
        <div class="column">
          <div class="field">
            <label class="label">Internet Fiber Optics</label>
            <div class="control">
              <input class="input" name="internet-fo" type="number" min="0" step="0.01" value="{{ form_values['internet-fo'] }}" required>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="field">
            <label class="label">Monthly Charges</label>
            <div class="control">
              <input class="input" name="monthly-charges" type="number" min="0" step="0.00001" value="{{ form_values['monthly-charges'] }}" required>
            </div>
          </div>
        </div>
      </div>

      <div class="columns is-mobile">
        <div class="column">
          <div class="field">
            <label class="label">Electronic Payment</label>
            <div class="control">
              <input class="input" name="payment-electronic" type="number" min="0" step="0.0001" value="{{ form_values['payment-electronic'] }}" required>
            </div>
          </div>
        </div>
        <div class="column">
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <input type="submit" class="button is-link">
        </div>
      </div>

    </div>
  </div>
</form>
{% endblock %}
